            * {
              margin: 0;
              padding: 0;
            }

            ::-moz-selection {color: white;
            background-color: rgb(52, 128, 72);
            }

            body {
              background-color: rgb(23, 36, 66);
              padding-top: 15vh;
            }
            
            header {
              margin: 0px auto;
              background-color: #000000;
              height: 10vh;
              color: #ffffff;
              font: normal x-small verdana, arial, helvetica, sans-serif;
              width: 100%;
              overflow: auto;
              border-bottom: 10px;
              position: fixed;
              top: 0;
              box-shadow: 0 0 30px 0 #000000;
              transition: 0.15s;
            }

            header:hover {
              background-color: rgb(20, 20, 20);
              transition: 0.15s;
            }

            #Tasseukeima {
              margin-left: 1vh;
              margin-top: 3vh;
              background-color: #000000;
              color: #63ba86;
              font: bolder x-small verdana, arial, helvetica, sans-serif;
              font-size: 20px;
              width: 0vh auto;
              padding-left: 3vh;
              float: left;
              cursor: default;
              transition: 0.3s;
              user-select: none;
            }

            #Tasseukeima:hover {
              transition: 0.3s;
              color: #ffffff;
              background-color: rgba(26, 26, 26, 0.5);
            }

            header:hover #Tasseukeima, header.hover #Tasseukeima {
              background-color: rgba(26, 26, 26, 0.5);
              transition: 0.1s;
            }

            #Page_Name {
              color: #1cc6e8;
              font-weight: lighter;
              transition: 0.3s;
              padding: 1vh;
              padding-left: 0;
            }

            #Page_Name:hover {
              transition: 0.3s;
              color: #ffffff;
              background-color: inherit;
            }

            #TIPN {
              color: #ffffff;
            }

            header:hover ol li a, header.hover ol li a {
              background-color: rgba(20, 20, 20);
              transition: 0.15s;
              height: 15vh;
              transform: translateY(5vh);
            }

            header:hover ol li a:hover, header.hover ol li a.hover {
              background-color: #3d3d3d;
              transition: 0.2s;
              border-radius: 5px;
            }

            ul {
              padding: 3vh;
              width: 0vh auto;
              margin: 0px auto;

            }

            ol {
              padding: 3vh;
              width: 0vh auto;
              margin: 0px auto;
              user-select: none;
            }

            ol li {
              display: inline-block;
              float: right;
              padding: 8px;
              transition: 0.3s;
            }

            ol li:hover {
              transform: translateY(6px);
              transition-duration: 0.3s;
            }

            ol li a {
              background-color: #000;
              margin: 0px auto; 
              text-align: center;  
              text-decoration: none;
              font-family: sans-serif;
              font-size: 16px;
              margin-top: 0px;
              font-weight: normal;
              color: #ffffff;
              padding: 2vh;
              transition: 0.2s;
              border-radius: 5px;
            }

            ol li a:hover {
              background-color: #3d3d3d;
              transition: 0.5s;
              border-radius: 5px;
            }

            h3 {
              margin-top: 4vmin;
              margin: 2vmin;
              padding: 10px;
              color: #ffffff;
              left: 50%;
              text-align: center;
            }

            u {
              text-decoration: underline;
              font-size: 16px;
            }

            h6 {
              font: normal small verdana, arial, helvetica, sans-serif;
              font-size: 10px;
              color: #ffffff;
              text-align: center;
              margin-top: 20px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 20px;
            }

            .post_title {
              font: normal x-small verdana, arial, helvetica, sans-serif;
              color: rgb(255, 255, 255);
              font-size: 40px; 
              font-weight: lighter;
              margin-bottom: 0px;
              background-color: rgb(23, 36, 66);
              padding: 12px;
              border-radius: 3px 3px 0px 0px;
              border-width: 1px;
              border-color: rgb(64, 89, 148);
              border-style: solid;
              border-bottom-color: rgb(23, 36, 66);
              top: 50;
              text-decoration: underline 0.075em rgba(0, 0, 0, 0);
              transition: text-decoration-color 300ms, text-underline-offset 300ms;
            }
            
            .post_title:hover {
              text-decoration-color: rgba(57, 73, 136, 0.86);  
            }

            .post_id {
              font: normal x-small verdana, arial, helvetica, sans-serif;
              font-size: 12px;
              background-color: rgb(23, 36, 66);
              font-color: rgb(0, 0, 0);
              padding: 6px;
              border-radius: 15px 15px 15px 15px;
              width: auto; 
              float: right;
              vertical-align: middle;
              display: inline;
              border-width: 1px;
              border-color: rgb(64, 89, 148);
              border-style: solid;
              transition: 0.1s;
              user-select: none;
            }

            .post_id:hover {
              background-color: rgb(64, 89, 148);
              border-color: rgb(23, 36, 66);
            }
            
            .post {
              background-color: rgb(23, 36, 66);
              color: rgb(255, 255, 255);
              font-size: 60px; 
              font: normal small verdana, arial, helvetica, sans-serif;
              font-weight: bold;
              padding: 12px;
              margin-top: 0px;
              border-style: solid;
              border-width: 1px; 
              border-left-color: rgb(64, 89, 148);
              border-right-color: rgb(64, 89, 148);
              border-top-color: rgb(23, 36, 66);
              border-bottom-color: rgb(64, 89, 148);
              transition: 0.25s; 
            }

            .post:hover {
              border-bottom-color: rgb(38, 55, 94);
            }

            .Total_Post {
              margin-left: 175px;
              margin-right: 175px;
              margin-bottom: 75px;
              margin-top: 8vh;
              cursor: default;
              border-width: 2px;
              border-style: solid;
              border-color: rgb(23, 36, 66);
              position: static;
              top: 50;
              transition: 0.1s ease;
              cursor: pointer;
            }

            .Total_Post:hover {
              transition: 0.075s ease;
              border-color: rgb(75, 191, 253);
              border-width: 2px;
              background-color: rgb(64, 89, 148);
              border-radius: 5px 5px 5px 5px;
              box-shadow: 5px 5px 25px 10px #000000;
            }

            .lower_title {
              margin: 0px auto; 
              text-align: center;  
              padding-bottom: 8px; 
              padding-top: 8px;
              text-decoration: none;
              font-family: sans-serif;
              font-size: 14px;
              margin-top: 0px;
              font-weight: normal;             
            }
            
            .View_Button {
              height: 20px;
              font-size: 50px;
              font: normal small verdana, arial, helvetica, sans-serif;
              font-color: rgb(255, 255, 255);
              font-weight: bold;
              background-color: rgb(23, 36, 66);
              color: rgb(255, 255, 255);
              padding: 10px;
              cursor: default;
              text-align: middle;
              text-align: center;
              padding-left: 10px;
              padding-right: 10px;
              border-radius: 0px 0px 3px 3px;
              text-decoration: none;
              cursor: pointer;
              border-width: 1px;
              border-style: solid;
              border-top-color: rgb(23, 36, 66);
              border-bottom-color: rgb(64, 89, 148);
              border-left-color: rgb(64, 89, 148);
              border-right-color: rgb(64, 89, 148);
              transition: 0.25s;                      
            }

            .View_Button:hover {
              background-color: rgb(7, 179, 232);
              font-weight: bolder;
              border-color: rgb(7, 179, 232);
            }

            a {
              text-decoration: none;
              font-color: rgb(255, 255, 255);
            }

            a:hover {
              cursor: pointer;            
            }

            .Small_Button {
              background-color: rgb(23, 36, 66);
              border-width: 1px;
              border-style: solid;
              border-top-color: rgb(64, 89, 148);
              border-bottom-color: rgb(64, 89, 148);
              border-left-color: rgb(64, 89, 148);
              border-right-color: rgb(64, 89, 148);
              padding: 10px;
              color: rgb(255, 255, 255);
              text-align: center;
              border-radius: 5px 5px 5px 5px;
              font-size: 15px;
              transition: 0.3s;
            }

            .Small_Button:hover {
              border-width: 1px solid;
              background-color: rgb(7, 179, 232);
              cursor: pointer;
              transition: 0.3s;
              border-color: rgb(7, 179, 232);
            }